{% load url from future %}
<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="utf-8" />
 <title>Error</title>
 <meta name="author" content="Evert Rol, TKP" />
 <meta name="copyright" content="Transients Key Project, Universiteit van Amsterdam" />
 <link rel="stylesheet" type="text/css" href="/static/css/base.css" />
 <script type="text/javascript" src="/static/javascript/jquery.js"></script>
</head>
<body>
<header>
<h1><a href="/">LOFAR transients database</a></h1>
</header>
<section id="main">
Internal error: apologies! Please <a
href="https://support.astron.nl/lofar_issuetracker/projects/lofas/">file an
issue</a> describing the problem.
</section>
</body>
</html>
